<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
<title th:text="#{title.followList}"></title>
</head>

<body>
	<header class="header" th:include="fragments/menu :: menu"> </header>

	<div class="container-fluid">
		<div
			th:replace="fragments/showProfile.html
	      :: showProfile(user=${user})">
		</div>
	</div>

	<div class="container">
		<div class="card bg-light">
			<div class="card-header">
				<h3>
					<span th:if="${userAdvertisementsView == 'userLikes'}"
						th:text="#{title.likes}"></span> <span
						th:if="${userAdvertisementsView == 'userAdvertisements'}"
						th:text="#{title.saleAdvertisementList}"></span>
				</h3>
			</div>

			<th:block th:each="saleAdvertisement : ${saleAdvertisements}">
				<div
					th:replace="fragments/showSaleAdvertisement.html
			      :: showSaleAdvertisement(saleAdvertisement=${saleAdvertisement})">
				</div>
			</th:block>


		</div>
	</div>

	<footer>
		<div th:include="fragments/scripts :: general"></div>
	</footer>
</body>

</html>