<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
<title th:text="#{title.followList}"></title>
</head>
<body>
	<header class="header" th:include="fragments/menu :: menu"> </header>

	<div class="container-fluid">
		<div th:replace="fragments/showProfile.html
	      :: showProfile(user=${user})">
	    </div>
	</div>

	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3>
					<span th:if="${followName == 'followers'}"
						th:text="#{title.followersList}"></span> <span
						th:if="${followName == 'followed'}"
						th:text="#{title.followedList}"></span>
				</h3>
			</div>
			
			<th:block th:each="followUser : ${followList}">
				<div th:replace="fragments/showProfile.html
			      :: showProfile(user=${followUser})">
			    </div>
			</th:block>
		
		</div>
	</div>

	<footer>
		<div th:include="fragments/scripts :: general"></div>
	</footer>
</body>

</html>