<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
<title th:text="#{title.profile}"></title>
</head>
<body>
	<header class="header" th:include="fragments/menu :: menu"> </header>

	<div class="container-fluid">
		<h3 th:text="#{title.profile}"></h3>
		<div th:replace="fragments/showProfile.html
	      :: showProfile(user=${user})">
	    </div>
	</div>
</body>

<footer>
	<div th:include="fragments/scripts :: general"></div>
</footer>
</html>