<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
<title th:text="#{title.saleAdvertisement}"></title>
</head>

<body>
	<header class="header" th:include="fragments/menu :: menu"> </header>

	<div th:if="${saleAdvertisementNotExist=='saleAdvertisementNotExist'}"
		class="container">
		<p th:if="${productTitle==null}" class="alert alert-danger"
			role="alert" th:text="#{error.saleAdvertisementNotFound}"></p>
	</div>
	<div
		th:unless="${saleAdvertisementNotExist=='saleAdvertisementNotExist'}"
		class="container">
		<div class="container">
			<div class="card bg-dark">
				
				<div th:if="${uploadImageError}">
					<p th:each="image : ${uploadImageError}" style="font-size: 20; color: #FF1C19;" class="text-center"
						th:text="${image} + #{error.uploadImageError}"></p>
				</div>
				
				<div class="card-header">

					<h3 th:text="${saleAdvertisement.productTitle}"></h3>
				</div>

				<div th:if="${first != null}" id="myCarousel" class="carousel slide"
					data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active" th:each="image : ${first}">
							<img th:src="${image?.imagePath}" style="width: 100%;">
						</div>

						<div class="item" th:each="image : ${images}">
							<img th:src="${image?.imagePath}" style="width: 100%;">

						</div>
					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel"
						data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left"></span> <span
						class="sr-only">Previous</span>
					</a> <a class="right carousel-control" href="#myCarousel"
						data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right"></span> <span
						class="sr-only">Next</span>
					</a>
				</div>


				<div class="card-body">
					<p th:text="${saleAdvertisement.productDescription}" />
					<div>
						<div>
							User: <small th:text="${saleAdvertisement.user.login}"></small>
						</div>
						<div>
							Date: <small th:text="${saleAdvertisement.date}"></small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<footer>
	<div th:include="fragments/scripts :: general"></div>
</footer>

</html>