<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/header :: header">
<title th:text="#{title.saleAdvertisement}"></title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<header class="header" th:include="fragments/menu :: menu"> </header>

	<div th:if="${saleAdvertisementNotExist=='saleAdvertisementNotExist'}"
		class="container">
		<p th:if="${productTitle==null}" class="alert alert-danger"
			role="alert" th:text="#{error.saleAdvertisementNotFound}"></p>
	</div>
	<div
		th:unless="${saleAdvertisementNotExist=='saleAdvertisementNotExist'}"
		class="container">
		<div class="container">

			<div th:if="${uploadImageError}">
				<p th:each="image : ${uploadImageError}"
					style="font-size: 20; color: #FF1C19;" class="text-center"
					th:text="${image} + #{error.uploadImageError}"></p>
			</div>

			<div class="card-header">
				<th:block th:if="${saleAdvertisement.isUserLogged()} == false">
					<form method="post"
						th:action="@{/saleAdvertisement/} + @{buy/} + ${saleAdvertisement.saleAdvertisementID}"
						th:object="${saleAdvertisement.saleAdvertisementID}">
						<button th:if="${saleAdvertisement.saleAdvertisementIsSold} == false"
							type="submit" class="btn btn-primary" th:text="#{label.buy}"></button>
					</form>
				</th:block>

				<!-- Button trigger modal -->
				<button th:if="${saleAdvertisement.isUserLogged()} == true"
					type="button" class="btn btn-danger" data-toggle="modal"
					data-target="#exampleModalCenter" th:text="#{label.remove}"></button>
				<div class="modal fade" id="exampleModalCenter" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalCenterTitle"
					aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle"
									th:text="#{title.remove}"></h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<span th:text="#{label.removeAddText}"></span>
							</div>
							<div class="modal-footer">
								<form method="post"
									th:action="@{/saleAdvertisement/} + @{remove/} + ${saleAdvertisement.saleAdvertisementID}">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal" th:text="#{label.cancel}"></button>

									<button type="submit" class="btn btn-danger"
										th:text="#{label.remove}"></button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- Button trigger modal -->
				<button th:if="${saleAdvertisement.isUserLogged()} == true"
					class="btn btn-primary" data-toggle="modal"
					data-target="#onHoldModalCenter"
					th:text="${saleAdvertisement.state.toString()} == 'STATE_ON_SALE' ? #{label.onHold} : #{label.onSale}">
				</button>
				<div class="modal fade" id="onHoldModalCenter" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalCenterTitle"
					aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="onHoldModalLongTitle"
									th:text="${saleAdvertisement.state.toString()} == 'STATE_ON_SALE' ? #{title.onHold} : #{title.onSale}"></h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<span
									th:text="${saleAdvertisement.state.toString()} == 'STATE_ON_SALE' ? #{label.onHoldText} : #{label.onSaleText}"></span>
							</div>
							<div class="modal-footer">
								<form method="post"
									th:action="${saleAdvertisement.state.toString()} == 'STATE_ON_SALE' ? @{/saleAdvertisement/setOnHold/} + ${saleAdvertisement.saleAdvertisementID} : @{/saleAdvertisement/setOnSale/} + ${saleAdvertisement.saleAdvertisementID}">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal" th:text="#{label.cancel}"></button>

									<button type="submit" class="btn btn-primary"
										th:text="${saleAdvertisement.state.toString()} == 'STATE_ON_SALE' ? #{label.onHold} : #{label.onSale}"></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<th:block
					th:replace="fragments/showSaleAdvertisement.html
			      :: showSaleAdvertisement(saleAdvertisement=${saleAdvertisement})">
				</th:block>
	
			</div>
		</div>
	</div>
</body>

<footer>
	<div th:include="fragments/scripts :: general"></div>
</footer>

</html>