<header th:fragment="menu">
	<nav id="navbar-main" class="navbar navbar-main navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar-main-body"
					aria-expanded="false" aria-controls="navbar-main">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}"
					th:text="#{application.title}">Webapp title</a>

			</div>

			<div id="navbar-main-body"
				class="navbar-body navbar-collapse collapse">

				<ul class="nav navbar-nav navbar-right">

					<li><a th:href="@{/saleAdvertisement/add}"
						class="btn btn-default" role="button" aria-pressed="true"
						th:text="#{label.addSaleAdvertisement}"></a></li>

					<li><a th:href="@{/saleAdvertisement/list}"
						class="btn btn-default" role="button" aria-pressed="true"
						th:text="#{label.saleAdvertisementList}"></a></li>

					<li><a th:href="@{/saleAdvertisement/followedList}"
						class="btn btn-default" role="button" aria-pressed="true"
						th:text="#{label.saleAdvertisementFollowedList}"></a></li>

					<li sec:authorize="isAnonymous()" class="dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false"><span
							th:remove="tag" th:text="#{title.account}"></span> <span
							aria-hidden="true"></span> </a>

						<ul class="dropdown-menu" role="menu">
							<li><a th:href="@{/signIn}"> <span
									class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign
									In
							</a></li>

							<li><a th:href="@{/signUp}"> <span
									class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign
									Up
							</a></li>
						</ul></li>
					</th:block>


					<li sec:authorize="isAuthenticated()" class="dropdown"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false"><span
							th:remove="tag" sec:authentication="name"></span> <span
							aria-hidden="true"></span> </a>

						<ul class="dropdown-menu" role="menu">
							<li><a th:href="@{/profile}"> <span
									class="glyphicon glyphicon-user" aria-hidden="true"
									th:text="#{label.profile}"></span>
							</a></li>
							<li><a th:href="@{/chat/emptyChat}"> <span
									class="glyphicon glyphicon-comment" aria-hidden="true"
									th:text="#{label.chat}"></span>
							</a></li>

							<li><a href="@{/logout}"
								onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
								th:text="#{label.logout}"><span
									class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Logout
							</a></li>
							<form id="logout-form" th:action="@{/logout}" method="GET" hidden></form>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
</header>